.math {
    width: 50px;
    height: 50px;

    &.hand-0 {
    }

    &.hand-1 {
        transform: rotateX(180deg);
    }

    &.hand-2, &.hand-3 {
        border: solid gray 1px;
        border-radius: 0;
        &.from {
            border-radius: 15px 15px 0 0;
            border: dotted;
        }
    } 

    &.hand-3.from {
        transform: rotateX(180deg);
    }

    &.animal-k {
        .piece(#fcc, orange);
    }
    &.animal-c {
        .piece(#ffa, black);
    }
    &.animal-g {
        .piece(#dbd, yellow);
    }
    &.animal-e {
        .piece(#dbd, gray);
    }
    &.animal-h {
        .piece(#ffa, black);
    }

    &.from,&.to {
        border-color: red !important;
    }
}

.piece(@bg_color, @font-color) {
    background: @bg_color;
    color: @font-color;
    border: black solid 2px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    font-size: 22px;
}

.flip {
    transform: rotate(180deg);
    .a-char {
        transform: rotateY(180deg);
    }
}

.main {
    .math {
        width: 70px;
        height: 70px;

    }
}

.list {
    overflow: auto;
    > .item {
        float: left;
        padding: 0 10px;
        &:not(:last-child) {
            border-right: solid;
        }

        &:hover {
            background: lightgray;
        }

        .select {
            &:hover {
                background: gray;
            }
        }
    }
}

.pull-right {
    float: right;
}

.left-column {
    width: 20%;
    float: left;
    padding: 2%;
}
.right-column {
    width: 72%;
    float: left;
    padding: 2%;
}
