.math {
    width: 50px;
    height: 50px;
    border: black solid 2px;
    text-align: center;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    font-size: 22px;
}
.hand-3 {
    border: solid gray 1px;
    border-radius: 0;
}

.hand-0 {
    background: blue;
}

.hand-1 {
    background: green;
    transform: rotateX(180deg);
}

.animal-k {
    background: #ffcccc;
    color: orange;
}
.animal-c {
    background: #ffffaa;
    color: black;
}
.animal-g {
    background: #dbd;
    color: yellow;
}
.animal-e {
    background: #dbd;
    color: gray;
}
.animal-h {
    background: #ffffaa;
    color: black;
}
.flip {
    transform: rotate(180deg);
    .a-char {
        transform: rotateY(180deg);
    }
}

.main {
    .math {
        width: 70px;
        height: 70px;
    }
}

.list {
    overflow: auto;
    > .item {
        float: left;
        padding: 0 10px;
        &:not(:last-child) {
            border-right: solid;
        }

        &:hover {
            background: lightgray;
        }

        .select {
            &:hover {
                background: gray;
            }
        }
    }
}

.pull-right {
    float: right;
}

.left-column {
    width: 20%;
    float: left;
    padding: 2%;
}
.right-column {
    width: 72%;
    float: left;
    padding: 2%;
}
